.bajada {
    width: 100vw;
    background-color: fuchsia;
    color: white;
    padding: 10px;
    text-align: center;
}
.bajada h1 {
    margin: 0;
    font-size: 30px;
    font-family: "Palatino Linotype";
}
