.blogs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    background-color:#D48579;
}
.container-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

}

.card-blog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 3.5rem;
}

.card-blog .container-img {

    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    height: 300px;
}
.card-blog .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button-group-blog {
    position: absolute;
    bottom: 1.5rem;
    right: -2.5rem;

    display: flex;
    gap: 0.7rem;
    z-index: -1;
    transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
    z-index: 0;
    right: 1.5rem;
}

.button-group-blog span {
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.4s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group-blog span i {
    font-size: 1.3rem;
}

.button-group-blog span:hover {
    background-color: var(--primary-color);
}

.button-group-blog span:hover i {
    color: #fff;
}

.content-blog h3 {
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
    color: var(--dark-color);
    font-weight: 500;
}

.content-blog h3:hover {
    color:#226466 ;
    cursor: pointer;
}

.content-blog p {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #220066;
}

.content-blog span {
    color:#226466 ;
    font-size: 1.4rem;
}

.btn-read-more {
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 2rem;
    margin: 3rem 0 5rem;
    display: inline-block;
    cursor: pointer;
}

.btn-read-more:hover {
    background-color: var(--dark-color);
}



