.banner{
 background-image: url(https://assets.ongoody.com/store/products/image/9nTdeykkWASaW2AUghwPErukS9EgGmDS.png?width=800&format=webp);
 height: 60rem;
 background-size: cover;
 background-position: center;
}
.content-banner{
 max-width: 90rem;
 margin: 0 auto;
 padding: 25rem 0;
}
.content-banner p{

 color:var(--primary-color);
 background-color: #0033cc;
 font-size: 3.2rem;
 margin-bottom: 1rem;
 font-weight: 500;
}
.content-banner h2{
 background-color: #0033cc;
 color:#ffffff;
 font-size: 3.5rem;
 font-weight: 500;
 line-height: 1.2;
}
.content-banner a{
 margin-top: 2rem;
 text-decoration: none;
 color:#ffffff;
 background-color: var(--primary-color);
 display: inline-block;
 padding: 1rem 3rem;
 text-transform: uppercase;
 border-radius: 3rem;
}